<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="FoodStopData" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\sudhi\OneDrive\Documents\Visual Studio 2012\Projects\Advance_System_Project (3)\DataLayer\FoodStopData.mdf;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="FoodStopDataConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\sudhi\OneDrive\Documents\Visual Studio 2012\Projects\Advance_System_Project (3)\DataLayer\FoodStopData.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <authentication mode="Forms" />
      <authorization>
        <allow roles="Admin" />
        <allow roles="User" />
      </authorization>
      <roleManager enabled="true" />
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
